$primary: #6ea8fe;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules//bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
// Override the default primary color
// 通过 map-merge() 函数将 $primary 变量添加到 $theme-colors 变量中
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
  )
);

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      ),
  )
);
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
.headeimg {
  margin-top: -40px;
}
.topband {
  height: 100px;
}
.header {
  border-bottom: 1px solid #fff;
}
.img-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.btn-container {
  width: auto;
  min-width: 58px;
  aspect-ratio: 1 / 1;
}
.scrollbar1::-webkit-scrollbar {
  height: 8px;
}

.scrollbar1::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #0b5ed7;
}
.vh-50 {
  height: 50vh;
}
.pt-100 {
  padding-top: 100%;
}
.pt-50 {
  padding-top: 50%;
}
.ArtComponent__image {
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 1 / 1;
}
.aspect-ratio-1x1 {
  aspect-ratio: 1 / 1;
}
.object-position-50 {
  object-position: 50% 50%;
}
.uploadStyle.ratio-1x1 {
  @include media-breakpoint-down(md) {
    --bs-aspect-ratio: 33%; // 1:3
  }
  @include media-breakpoint-between(md, lg) {
    --bs-aspect-ratio: 50%; // 1:2
  }
}
.bg-5dot {
  background-image: url(/resources/prism.png);
  background-repeat: repeat;
  background-position: center;
}
.bg-summer {
  background-image: url(/resources/Summer3.png);
  background-repeat: repeat;
  background-position: center;
}
button.page-link {
  color: #fff;
}
.active .page-link {
  color: black;
}
.page-link.disabled,
.disabled > .page-link {
  color: $gray-600;
  background-color: var(--bs-pagination-bg);
}
.nav-link {
  color: #fff;
}
.navbar-top-sticky {
  position: sticky;
  background-color: var(--bs-body-bg);
  top: 0;
  z-index: 1000;
  @media (min-width: 993px) {
    height: 72px;
  }
}
.navbar {
  @media (min-width: 993px) {
    height: 72px;
  }
}
.usercenterBtnToggle[aria-expanded="false"] {
  color: $primary-text-emphasis-dark;
  background-color: var(--bs-body-bg);
}
.usercenterBtnToggle[aria-expanded="true"] {
  color: black;
  background-color: $primary;
}
